In [14]:
#importing packages
import pandas as pd
import numpy as np
import requests
import json
import os
from bs4 import BeautifulSoup
import matplotlib.pyplot as plt

import zipfile

Problem 1

In [39]:
def load_and_transform_data(zip_file):
    with zipfile.ZipFile(zip_file) as z:
    # open the csv file in the dataset
        with z.open("data/CCL.csv") as f:

            dataset = pd.read_csv(f,index_col=['Date','High','Low','Open','Close','Volume','Adj Close'], parse_dates=['Date'], date_parser=lambda d: pd.to_datetime(d, format='%Y-%m-%d'))

            
    #return dataset.High, dataset.Low, dataset.Open, dataset.Close, dataset.Volume, dataset.Adj_Close
#Date, High, Low, Open, Close,Volume,Adj_Close = load_and_transform_data('./data/66985513.zip')
dataset = load_and_transform_data('./data/66985513.zip')

None

In [44]:
df1 = pd.read_csv('./data/CCL.csv', sep = ',', on_bad_lines= 'skip',parse_dates=['Date'], date_parser=lambda d: pd.to_datetime(d, format='%Y-%m-%d'))
df1.head()

        Date       High        Low       Open      Close     Volume  Adj Close
0 2017-11-13  66.019997  64.449997  64.459999  65.980003  2554300.0  60.323765
1 2017-11-14  66.330002  65.220001  65.930000  66.019997  2399000.0  60.360317
2 2017-11-15  66.180000  65.419998  65.889999  65.779999  2246700.0  60.140900
3 2017-11-16  66.279999  65.680000  66.019997  65.820000  2126400.0  60.177471
4 2017-11-17  66.309998  65.610001  65.790001  66.220001  1839200.0  60.543182

In [46]:
df2 = pd.read_csv('./data/CEG.csv', sep = ',', on_bad_lines= 'skip')
df2.head()

         Date       High        Low       Open      Close  Volume  Adj Close
0  2022-01-19  43.000000  38.000000  38.000000  42.000000  129900  42.000000
1  2022-01-20  48.369999  40.950001  40.950001  45.000000  153400  45.000000
2  2022-01-21  49.950001  42.950001  43.000000  45.000000  329500  45.000000
3  2022-01-24  45.000000  41.880001  44.919998  42.799999  110000  42.799999
4  2022-01-25  44.919998  41.330002  42.500000  41.897999   23500  41.897999

In [48]:
df3 = pd.read_csv('./data/FCX.csv', sep = ',', on_bad_lines= 'skip')
df3.head()

         Date   High    Low   Open  Close      Volume  Adj Close
0  2017-11-13  14.64  14.31  14.33  14.43   9908200.0  13.872496
1  2017-11-14  14.30  13.57  14.28  13.80  27677700.0  13.266834
2  2017-11-15  13.79  13.22  13.59  13.63  17992800.0  13.103404
3  2017-11-16  13.77  13.49  13.71  13.62  13654200.0  13.093789
4  2017-11-17  13.93  13.50  13.51  13.86  15334600.0  13.324517

In [63]:
minimum = df1['Adj Close'].min()
print(f'Lowest for CCL was {minimum}')

minimum = df2['Adj Close'].min()
print(f'Lowest for CEG was {minimum}')

minimum = df3['Adj Close'].min()
print(f'Lowest for FCX was {minimum}')


def task1(r):
    maximum= r['Adj Close'].max()
    print(maximum)
    
print('Maximum values for CCL, CEG and FCX were:')
task1(df1)
task1(df2)
task1(df2)

Lowest for CCL was 6.380000114440918
Lowest for CEG was 41.89799880981445
Lowest for FCX was 5.267237663269043
Maximum values for CCL, CEG and FCX were:
66.21757507324219
95.5199966430664
95.5199966430664